#flashMessage{
	background-color: yellow;
	color: white;
	border: 2px solid black;
	padding: 5px;
}

.form-error{
	border: 1px solid darkblue;
}

.error-message{
	background-color: darkblue;
	color: white;
	border: 1px solid black;
	margin-bottom: 10px;
	width: 100%;
}

.userlogout{
	text-align: right;
}

div#welcome{
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
	color: #0188cc;
}

div.copyright{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	}

div#footer{
position: relative;
margin-left: 40px;
padding-top: 10px;
}

h1{
	text-align: center;
	margin: auto;
}
	
